<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ljl.com.homuraproject">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.FileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="Homura Project"
            android:launchMode="singleTask"
            android:theme="@style/MyTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activity.ErrorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="BUG REPORT">
            <intent-filter>
                <action android:name="android.intent.action.BUG_REPORT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".PlayService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.service.PlayService" />
            </intent-filter>
        </service>

        <receiver android:name=".PlayServiceBroadcastReceiver">
            <intent-filter android:priority="1000"> <!-- 设置最高优先级 -->
                <action android:name="com.Broadcast.PlayServiceBroadcast" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activity.GuideActivity"
            android:label="@string/title_activity_guide" />
        <activity android:name=".Activity.LrcSelectionActivity" />
    </application>

</manifest>
